* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.Navbar {
    border: 1px solid red;
    display: flex; 
     justify-content: space-between;
}